html { position: relative; min-height: 100%; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 12pt; }
body { font-family: 'Open Sans', Arial, Helvetica, sans-serif; }
.navbar { background-image: none; }
.navbar-default { background-color: #f5f5f5; border: none }
.donatebox { background: #eee; border-radius: 5px; padding: 10px}
.navbar-brand a { color:#777 }
.navbar-logo { position: relative; top: 50%; transform: translateY(-50%) }

body { margin-bottom: 60px; margin-top: 60px; }
#footer { position: absolute; bottom: 0; width: 100%; height: 60px; border-top: 1px solid #ddd }
.contactinfo { text-align: right }
a.contactlink { text-decoration: none; color: #777; }
#footer > .container { padding-right: 15px; padding-left: 15px; margin-top: 20px; }

#changes .showLink { display: none }
